body{
  margin: 0;
  padding: 0;
  background-color: #2f4360;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 350px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 15px 30px rgba(0,0,0,0.15);
}
.input-container{
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border:2px solid yellowgreen;
  overflow: hidden;

}
.search{
  flex-grow: 1;
  outline: none;
  border: none;
  font-size: 16px;
  height: 30px;
}

.search-icon{
  padding: 10px;
  height:30px;
  cursor: pointer;
}
.input-container img{
  width: 25px;
  margin-top: 5px;
}
.image{
  text-align: center;
  margin-bottom: 5px;
  height: 150px;
}
.image img{
  width: 160px;
  height: 140px;
  padding: 10px;
}
.temp,.country,.city{
  margin-top: 5px;
  font-size: 33px;
  text-align: center;
  text-transform: uppercase;
  color:#333;
}
.temp{
  font-weight: 500;
}
.city{
  color: rgb(83, 83, 4);
  font-weight: 500;
  font-size: 32px;
}
.country{
  color:#888;
  font-size: 18px;
  font-weight: 500;
}
.cord{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap:10px;
  margin-top: 10px;
}
.cord div{
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  justify-content: center;
}
.cord div span{
  font-size: 14px;
}
.cord div span:nth-child(2),.humitidy-percent,.wind-percent{
  font-size: 16px;
  font-weight: bold;
  color:#666;
  padding-top: 6px;
}
.img{
  width: 50px;
  height: 50px;
}
.data-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.element{
  text-align: center;
}
.text{
  font-size: 16px;
  color:#333
}
.copyright{
  text-align: center;
  color:#333;
}
.copyright span{
  color:#333;
  font-weight: bold;
}
.loading-message,.error-message,.city-not-message{
  margin-top: 10px;
  color:#888;
  font-size: 18px;
  font-weight: 600px;
}